* {
	font-family: 'Exo-regular';
}
html {
	overflow-x: hidden;
}
body {
	background: radial-gradient(rgb(55,93,140) 5%, rgba(0,0,0,0) 0), 
				rgb(29, 51, 75);
	background-repeat: repeat;
    background-size: 30px 30px;
    overflow-x: hidden;
}