$laptop-wide-screen : 1280px;
$laptop-small-screen: 960px;

$tablet-portrait 	: 640px;
$tablet-landscape 	: 960px;

$mobile-portrait 	: 320px;
$mobile-landscape 	: 640px;


@mixin mobile {
	@media screen and (max-width: $mobile-landscape) and (min-width: $mobile-portrait) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $laptop-wide-screen) and (min-width: $laptop-small-screen) {
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: $tablet-landscape) and (min-width: $tablet-portrait) {
		@content;
	}
}


.container {
	width: 1280px;
	margin: 0 auto;
	position: relative;
	@include laptop {
		width: $laptop-small-screen;
	}
	@include tablet {
		width: $tablet-portrait;
	}
	@include mobile {
		width: 90%;
		margin: 0 auto;
	}
}

@for $i from 1 through 12 {
	.column-#{$i} {
		width: ( $i * 100% / 12)-1%;
	}
	@include mobile {
		.column-#{$i} {
			width: 100%;
		}
	}
}
