.vh {
	&-full {
		height: 100vh;
		min-height: 660px;
	}
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	@include translate(-50%, -50%);
	@include mobile {
		position: relative;
		left: inherit;
		top: inherit;
		margin: 0 auto;
		@include translate(0, 0);
	}
}