.welcome {
	&-textbox {
		&--full {
			width: 800px;
			margin: 0 auto;
			text-align: center;
		}
		&__text {
			font-size: 22px;
			color: #fff;
			padding-bottom: 15px;
		}
		&__desc {
			color: #b1c7df;
			font-size: 18px;
		}
	}
	&-btn {
		display: block;
		width: 260px;
		height: 60px;
		text-align: center;	
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		margin: 35px auto;
		padding: 2px;
		background: -webkit-linear-gradient(0deg,#2d90d1,#4baca3);
		&>.text {
			font-size: 14px;
			width: 100%;
			height: 100%;
			line-height: 60px;
			display: block;
			text-align: center;
			background: #1d334b;
			@include simpleTransition(.3s);
		}
		&:hover {
			&>.text {
				background: transparent;
			}
		}
	}
	&-box {
		@include flexbox;
		@include justify-content;
		&__item {
			width: 33%;
			height: 350px;
			margin: 45px 0;
			background: rgba(#ebebeb, .5);
			position: relative;
			&>.text {
				position: absolute;
				color: #fff;
				font-size: 12px;
				font-style: italic;
				letter-spacing: 2px;
				width: 150px;
			}
			&--first  {
				@include bg('sphere-google.png');
				.text {
					right: -110px;
					top: 60px;
				}
			}
			&--second {
				@include bg('sphere-netflix.png');
				.text {
					left: -120px;
					text-align: right;
					top: 245px;
				}
			}
			&--third {
				@include bg('sphere-palantir.png');
				.text {
					right: -120px;
					top: 130px;
				}
			}
		}
	}
	&__world {
		@include flexbox;
		@include align-items;
		&-globus {
			text-align: center;
			&>.img {
				max-width: 100%;
			}
		}
	}
	&__speakers {
		&-container {
			@include flexbox;
			@include justify-content;
			.person {
				&:first-child {
					.person__shadow {
						background: -webkit-linear-gradient(45deg, rgb(78, 146, 145), rgb(26, 85, 128));
						background: -o-linear-gradient(45deg, rgb(78, 146, 145), rgb(26, 85, 128));
						background: linear-gradient(45deg, rgb(78, 146, 145), rgb(26, 85, 128));
					}
				}
				&:nth-child(2) {
					margin-top: 60px;
					.person__shadow {
						background: -webkit-linear-gradient(45deg, #a86a51, #ab6752);
						background: -o-linear-gradient(45deg, #a86a51, #ab6752);
						background: linear-gradient(45deg, #a86a51, #ab6752);	
					}
				}
				&:last-child {
					.person__shadow {
						background: -webkit-linear-gradient(45deg, #383a87, #c86bd3);
						background: -o-linear-gradient(45deg, #383a87, #c86bd3);
						background: linear-gradient(45deg, #383a87, #c86bd3);	
						
					}
				}
			}
		}
	}
	&__hi {
		position: relative;
		text-align: center;
		&--bottom {
			height: 650px;
			margin: 55px; 
		}
		&-logo {
			display: table;
			clear: both;
			margin: 0 auto;
			margin-bottom: 25px;
			text-align: center;
		}
		&-text {
			margin-bottom: 25px;
		}
		&-title {
			font-size: 175px;
			display: table;
			margin: 0 auto;
			@include gradientedText(#219ad1,#22baa1);
		}
		&-date {
			font-size: 20px;
			color: #fff;
			text-transform: uppercase;
		}
	}
	&__info {
		position: relative;
		&-center {
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
		}
	}
	@include laptop {
		&__hi {
			&-logo {
				width: 300px;
			}
			&-text {
				width: 350px;
			}
			&-date {
				font-size: 16px;
			}
		}
		&-btn {
			width: 180px;
			height: 50px;
			&>.text {
				line-height: 50px;
				font-size: 11px;
			}
		}
		&-textbox {
			&__text {
				font-size: 18px;
			}
			&__desc {
				font-size: 16px;
			}
		}
		&-box {
			&__item {
				width: 27%;
				background-size: 100%;
				&--first {
					.text {
						top: 80px;
						right: -160px;
					}
				}
				&--second {
					.text {
						left: -160px;
						top: 235px;
					}
				}
				&--third {
					.text {
						right: -160px;
						top: 140px;
					}
				}
			}
		}
	}
	@include tablet {
		&__hi {
			&-logo {
				width: 300px;
			}
			&-text {
				width: 350px;
			}
			&-date {
				font-size: 16px;
			}
		}
		&-btn {
			width: 180px;
			height: 50px;
			&>.text {
				line-height: 50px;
				font-size: 11px;
			}
		}
		&-textbox {
			&__text {
				font-size: 13px;
			}
			&__desc {
				font-size: 12px;
			}
			&--full {
				width: auto;
			}
		}
		&-box {
			&__item {
				width: 25%;
				background-size: 100%;
				height: 200px;
				.text {
					width: 100px;
					font-size: 10px;
				}
				&--first {
					.text {
						top: 40px;
						right: -110px;
					}
				}
				&--second {
					.text {
						left: -115px;
						top: 140px;
					}
				}
				&--third {
					.text {
						right: -110px;
						top: 80px;
					}
				}
			}
		}
		&__speakers {
			&-container {
				display: block;
				.person {
					margin-top: 35px;
				}
			}
		}
		&__world {
			height: auto;
			min-height: auto;
		}
		&__info {
			height: auto;
			min-height: 550px;
		}
	}
	@include mobile {
		&-textbox {
			&--full {
				width: 90%;
			}
			&__text {
				font-size: 16px;
				text-align: center;
			}
			&__desc {
				width: 70%;
				margin: 0 auto;
				font-size: 14px;
				text-align: center;
			}
		}
		&__hi {
			height: auto;
			min-height: auto;
			padding-top: 115px;
			&-logo {
				width: 50%;
			}
			&-text {
				width: 60%;
			}
			&-date {
				font-size: 14px;
			}
			&--bottom {
				padding-top: 0;
			}
		}
		&-btn {
			width: 50%;
			height: 50px;
			&>.text {
				line-height: 50px;
				font-size: 12px;
			}
		}
		&__world {
			display: block;
			height: auto;
			min-height: auto;
			margin: 50px 0;
			&-globus {
				margin-top: 35px;
				&>.img {
					width: 60%;
				}
			}
		}
		&__info {
			display: table;
			height: auto;
			min-height: auto;
			width: 100%;
			&-center {
				position: relative;
				left: inherit;
				top: inherit;
				@include translate(0,0);
			}
		}
		&-box {
			display: block;
			margin: 35px auto;
			&__item {
				display: block;
				width: 60%;
				height: 150px;
				margin: 0 auto;
				background-size: 70%;
				&>.text {
					width: 100px;
				}
				&--first {
					.text {
						top: 20px;
						right: -80px
					}
				}
				&--second {
					.text {
						left: -85px;
						top: 110px;
					}
				}
				&--third {
					.text {
						right: -80px;
						top: 50px;
					}
				}
			}
		}
		&__speakers {
			&-container {
				display: block;
				.person {
					margin-top: 25px !important;
				}
			}
		}
	}
}