@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin align-items($align : center) {
	-webkit-align-items: $align;
	-ms-align-items: $align;
	align-items: $align;
}

@mixin justify-content($justify: space-between) {
	-webkit-justify-content: $justify;
	-ms-justify-content: $justify;
	justify-content: $justify;
}

$dir : '../img';
@mixin bg($img, $pos1 : 50%, $pos2 : 50%) {
	background: url(#{$dir}/#{$img}) no-repeat $pos1 $pos2;	
}

@mixin gradientedText($color...) {
	background-image: -webkit-linear-gradient(0deg,$color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-image: -moz-linear-gradient(0deg,$color);
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;

	background-image: -o-linear-gradient(0deg,$color);
	-o-background-clip: text;
	-o-text-fill-color: transparent;

	background-image: linear-gradient(0deg,$color);
	background-clip: text;
	text-fill-color: transparent;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin simpleTransition($time) {
	transition: all $time ease;
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
}