mixin person(img, name, position)
	.person
		img(src="assets/img/bin/#{img}", alt="").person__img.wow.fadeIn
		.person__shadow
		.person__desc.wow.fadeIn(data-wow-delay=".3s")
			.person__name= name
			.person__position= position
mixin schedule(time, name, desc)
	.schedule-item.wow.fadeIn
		.schedule-item__colleft
			.schedule-item__time= time
		.schedule-item__colcenter
			.schedule-item__stick
		.schedule-item__colright
			.schedule-item__name= name
			.schedule-item__desc= desc