.footer {
	width: 100%;
	height: 70vh;
	position: relative;
	&>#googlemap {
		width: 100%;
		height: 100%;
	}
	&__box {
		position: absolute;
		right: 350px;
		top: 50%;
		transform: translateY(-50%);
		width: 395px;
		
		padding: 15px;
		background: rgba(#182a40, .7);
		&-title {
			text-transform: uppercase;
			color: #27a4dc;
			.date {
				color: #b1d3f8;
			}
		}
		&-stick {
			width: 100%;
			height: 1px;
			position: relative;
			background-color: #1b4d6e;
			margin: 15px auto;
			&:after, &:before {
				content: "";
				width: 3px;
				height: 3px;
				position: absolute;
				top: -1.5px;
				background: #29a4dd;
			}
			&:after {
				left: 0;
			}
			&:before {
				right: 0;
			}
		}
		&-topstick {
			position: absolute;
			left: 0;
			top: -3px;
			width: 100%;
			height: 3px;
			background-image: -webkit-linear-gradient(0deg,#2c90cc, #3daca6);
		}
		&-center {
			@include flexbox;
			@include justify-content;
			@include align-items;
			text-transform: uppercase;
			font-size: 14px;
			.text-green {
				color: #47a39e;
				margin-bottom: 10px;
			}
			.text {
				color: #afd1f7;
			}
		}
		&-end {
			@include flexbox;
			@include justify-content;
			text-transform: uppercase;
			.text {
				color: #52749a;
				font-size: 14px;
				margin-bottom: 10px;
			}
			.text-lg {
				color: #b0d2f7;
				font-size: 18px;
			}
		}
	}
	@include laptop {
		&__box {
			right: 160px;
			width: 335px;
			&-title {
				font-size: 12px;
			}
			&-stick {
				margin: 10px auto;
			}
			&-center {
				.text {
					font-size: 10px;
				}
			}
			&-end {
				.text {
					font-size: 12px;
					&-lg {
						font-size: 14px;
					}
				}
			}
		}
	}
	@include tablet {
		&__box {
			width: 305px;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
			&-title {
				font-size: 12px;
			}
			&-stick {
				margin: 10px auto;
			}
			&-center {
				.text {
					font-size: 12px;
				}
			}
			&-end {
				.text {
					font-size: 10px;
					&-lg {
						font-size: 12px;
					}
				}
			}
		}
	}
	@include mobile {
		height: auto;
		&>#googlemap {
			display: none;
		}
		&__box {
			position: relative;
			width: 100%;
			left: 0;
			top: 0;
			@include translate(0, 0);
			&-title {
				font-size: 12px;
			}
			&-center {
				.text {
					font-size: 12px;
				}
			}
			&-stick {
				margin: 10px auto;
			}
			&-end {
				.text {
					font-size: 10px;
					&-lg {
						font-size: 12px;
					}
				}
			}
		}
	}
}