.header {
	@include flexbox;
	@include align-items;
	@include justify-content;
	width: 100%;
	height: $header-height;
	background-color: $header-bg;
	box-shadow: $header-shadow;
	padding: 0 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	@include simpleTransition(.5s);
	&--view {
		height: $header-height;
	}
	&__logo {
		font-size: $header-text-size;
		color: $header-text;
	}
	&__icons {
		&-item {
			display: inline-block;
			margin: 0 10px;
			font-size: $header-text-size;
			color: #507096;
			@include simpleTransition(.3s);
			&:hover {
				color: lighten(#507096, 15%);
			}
		}
	}
}