.person {
	position: relative;
	padding: 35px;
	text-align: center;
	width: 385px;
	height: 385px;
	overflow: hidden;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .7;
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	&__name {
		position: relative;
		z-index: 1;
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
	}
	&__desc {
		position: absolute;
		bottom: 35px;
		left: 0;
		width: 100%;
	}
	&__position {
		position: relative;
		z-index: 1;
		color: #c6d4e1;
		text-transform: uppercase;
		font-size: 14px;
	}
	@include laptop {
		width: 285px;
		height: 285px;
		&__name {
			font-size: 16px;
		}
		&__position {
			font-size: 12px;
		}
	}
	@include tablet {
		width: 255px;
		height: 255px;
		margin: 0 auto;
	}
	@include mobile {
		width: 70%;
		height: 255px;
		margin: 0 auto;
		padding: 25px;
		&__name {
			font-size: 15px;
			margin-bottom: 10px;
		}
		&__position {
			font-size: 12px;
		}
	}
}