.schedule {
	width: 555px;
	margin: 0 auto;
	&-item {
		@include flexbox;
		@include justify-content;
		clear: both;
		width: 100%;
		&__time {
			font-size: 20px;
			font-family: 'Exo-bold';
			color: #fff;
		}
		&__name {
			color: #fff;
			font-family: 'Exo-bold';
			font-size: 20px;
			letter-spacing: 2px;
		}
		&__desc {
			color: #7699c1;
			font-size: 16px;
			padding-bottom: 25px;
		}
		&__colright {
			width: calc(100% - 190px);
		}
		&__colleft {
			width: 120px;
		}
		&__colcenter {

		}
		&__stick {
			height: 100%;
			position: relative;
			&:before {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				border: 4px solid #2d90d3;
				border-radius: 50%;
			}
			&:after {
				content: "";
				width: 4px;
				height: calc(100% - 30px);
				position: absolute;
				left: 50%;
				top: 25px;
				margin-left: -2px;
				background: #2e90d1;
			}
		}
		&:last-child {
			.schedule-item__stick {
				&:after {
					height: 0;
				}
			}
		}
	}
	@include laptop {
		&-item {
			&__time {
				font-size: 16px;
			}
			&__name {
				font-size: 18px;
				margin-bottom: 5px;
			}
			&__desc {
				font-size: 14px;
			}
		}
	}
	@include tablet {
		&-item {
			&__time {
				font-size: 14px;
			}
			&__name {
				font-size: 18px;
			}
			&__desc {
				font-size: 14px;
			}
		}
	}
	@include mobile {
		width: 100%;
		&-item {
			&__time {
				font-size: 14px;
			}
			&__name {
				font-size: 16px;
				margin-bottom: 5px;
			}
			&__desc {
				font-size: 14px;
			}
			&__collleft {
				width: 90px;
			}
			&__collright {
				width: calc(100% - 150px);
			}
		}
	}
}
