.title {
	font-size: 18px;
	font-family: 'Exo-bold';
	text-transform: uppercase;
	&:after {
		display: block;
		content: "";
		width: 40px;
		height: 4px;
		margin: 25px auto;
		background-color: #344d6c;
	}
	&--gradiented {
		display: table;
		margin: 0 auto;
		@include gradientedText(#b98843,#ef6064);
		&-ry {
			display: table;
			@include gradientedText(#ee6265, #e6a348);
		}
		&-blue {
			display: table;
			margin: 0 auto;
			@include gradientedText(#20baa0, #2193c9);
		}
	}
	&--right {
		text-align: left;
		margin: inherit;
		&:after {
			margin: 25px 0;
		}
	}
	&--lg {
		font-size: 36px;
	}
	&--simple {
		color: #fff;
		text-align: center;
		margin-top: 110px;
	}
	@include laptop {
		font-size: 16px;
		&:after {
			margin: 15px auto;
		}
		&--right {
			&:after {
				margin: 15px 0;
			}
		}
	}
	@include tablet {
		font-size: 14px;
		&:after {
			margin: 10px auto;
		}
		&--right {
			&:after {
				margin: 15px 0;
			}
		}
	}
	@include mobile {
		font-size: 16px;
		&:after {
			margin: 10px auto;
		}
		&--lg {
			font-size: 16px;
		}
		&--right {
			text-align: center;
			margin: 0 auto;
			&:after {
				margin: 10px auto;
			}
		}
		&--simple {
			margin-top: 20px;
		}
	}
}
