include modules/mixins
include components/main

	block pagecontent
		include components/header
		section.welcome
			.welcome__hi.vh-full
				.center
					//- .welcome__hi-title ddc
					img(src="assets/img/ddc.png", alt="" class="fadeInUp wow").welcome__hi-logo
					img(src="assets/img/subtitle.png", alt="" class="fadeInUp wow" data-wow-delay="0.5s").welcome__hi-text.fadeInUp.wow
					.welcome__hi-date(class="fadeInUp wow" data-wow-delay="0.8s") July 31, 2014 /// San francisco
					a(href="#").welcome-btn(class="fadeIn wow" data-wow-delay="1.2s")
						.text Register now
			
			.container

				.vh-full.welcome__world
					.welcome-textbox.welcome__world-textbox.column-4
						h1.welcome-textbox__title.title.title--gradiented-ry.title--right.wow.fadeIn What is ddc?
						p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".3s")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi itaque tenetur optioobcaecati cumque!
						p.welcome-textbox__desc.wow.fadeIn(data-wow-delay=".6s")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, omnis, hic! 
					.column-2
					.column-6.welcome__world-globus.wow.zoomIn
						img(src="assets/img/earth.png", alt="globus").img

				.vh-full.welcome__info
					.welcome__info-center
						.welcome-textbox.welcome-textbox--full
							h1.welcome-textbox__title.title.title--gradiented.wow.fadeIn The power of data
							p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".3s")  Lorem impsuming dolor sitting amet
							p.welcome-textbox__desc.wow.fadeIn(data-wow-delay=".6s")  Lorem ipsum dolor sit amet
						.welcome-box
							.welcome-box__item.welcome-box__item--first.column-4.wow.fadeIn(data-wow-delay=".7s")
								.text test info
							.welcome-box__item.welcome-box__item--third.column-4.wow.fadeIn(data-wow-delay=".9s")
								.text test info
							.welcome-box__item.welcome-box__item--second.column-4.wow.fadeIn(data-wow-delay="1.1s")
								.text test info

				.welcome__speakers
					.welcome-textbox.welcome-textbox--full.wow.fadeIn
						h1.title.title--gradiented-blue.title--lg.wow.fadeIn(data-wow-delay=".3s") The power of data
						p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".6s")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, esse voluptatum, Lorem ipsum orem ipsum orem ipsum dolor sit amet,
					.welcome__spekaers-title.title.title--simple.wow.fadeIn Keynote speakers
					.welcome__speakers-container
						+person('person-photo.jpg', 'Donald askilashvili', 'General director')
						+person('person-photo-2.jpg', 'Donald askilashvili', 'General director')
						+person('person-photo-3.jpg', 'Donald askilashvili', 'General director')
					.welcome__spekaers-title.title.title--simple Schedule
					.schedule
						+schedule('12:30 - 1:30', 'Registration', ' Lorem ipsum dolor sit amet.')
						+schedule('1:30 - 1:40', 'Introductaion', ' Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla')
						+schedule('1:40 - 2:20', 'Keynote', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum')
						+schedule('1:40 - 2:20', 'Pushing the boundaries: Using data at Scale', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunt eaque nihil ullam magni, explicabo quo excepturi eius ipsam minima consectetur et nisi, sed! Placeat, praesentium consequatur ab voluptate voluptatum!')
						+schedule('12:30 - 1:30', 'Registration', ' Lorem ipsum dolor sit amet.')
						+schedule('1:30 - 1:40', 'Introductaion', ' Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla')
						+schedule('1:40 - 2:20', 'Keynote', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum')
						+schedule('1:40 - 2:20', 'After party', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunnsequatur ab voluptate voluptatum!')

			.welcome__hi.welcome__hi--bottom
				.center
					//- .welcome__hi-title ddc
					img(src="assets/img/ddc.png", alt="" class="fadeInUp wow").welcome__hi-logo
					img(src="assets/img/subtitle.png", alt="" class="fadeInUp wow" data-wow-delay="0.5s").welcome__hi-text.fadeInUp.wow
					.welcome__hi-date(class="fadeInUp wow" data-wow-delay="0.8s") July 31, 2014 /// San francisco
					a(href="#").welcome-btn(class="fadeIn wow" data-wow-delay="1.2s")
						.text Register now
		include components/footer