footer.footer
	#googlemap
	.footer__box.wow.zoomIn
		.footer__box-topstick
		.footer__box-title DDC Venue / 
			span.date 07.31.2014
		.footer__box-stick
		.footer__box-center
			div
				.text-green Terra gallery
				.text 511  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odio, modi voluptatum
			div
				img(src="assets/img/footer-box.png", alt="").img
		.footer__box-stick
		.footer__box-end
			div
				.text Location
				.text-lg Rincon hill / soma
			div
				.text Space
				.text-lg 24,000 soft
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_SMsrSSFHynrMtMrIfsaWu7y9S4KozAA&callback=initMap" async defer)
script(src="../vendors/wow/dist/wow.min.js")
script(src="assets/js/main.min.js")
