header.header
	a(href="#").header__logo(data-wow-delay='.2s' class='wow fadeIn') Logo
	.header__icons
		a(href="#").header__icons-item(data-wow-delay='.2s' class='wow fadeIn')
			.fa.fa-twitter
		a(href="#").header__icons-item(data-wow-delay='.3s' class='wow fadeIn')
			.fa.fa-facebook
		a(href="#").header__icons-item(data-wow-delay='.4s' class='wow fadeIn')
			.fa.fa-google-plus