<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/template.css")
		link(rel="stylesheet", href="../vendors/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="../vendors/animate.css/animate.min.css")
		title BOG Test task
	body
		block pagecontent